<% include ./partials/header %>
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success <% if(noMessages) { %> hidden <% } %>" >
      <%= successMsg %>
    </div>
  </div>
</div>
<% products.forEach(function(products){ %>
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
              <img id="image-at-index" src="<%= products.imagePath %>">
          <div class="caption">
              <h4><%= products.title %></h4>
          </div>
          <p><%= products.description %></p>
          
          <div class="clearfix">
            <div class="price pull-left"><%= products.price %> zł</div>
            <a href="/add-to-card/<%= products._id %>" class="btn btn-success pull-right" role="button">Add to shopping cart</a>
          </div>
      </div>
  </div>
<% }) %>

<% include ./partials/footer %>
